/* Imported Oxanium font */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Gaegu&family=Oxanium:wght@200..800&display=swap');

/* CSS variables for light mode */
:root {
    --primary-color: #347936; /* Dark green */
    --background-color: #f9f9f9; /* Light gray */
    --text-color: #333; /* Dark gray */
    --link-color: #007BFF; /* Blue */
    --link-hover-color: #0056b3; /* Darker blue */
    --nav-background-color: #333; /* Dark gray */
    --nav-link-color: #333; /* Dark gray */
    --nav-link-hover-color: #000000; /* Black */
    --nav-link-background-color: #ffffff; /* White */
    --nav-link-hover-background-color: #c1c1c1; /* Lighter gray */
    --nav-link-focus-background-color: #ddd; /* Light gray */
    --footer-background-color: #347936; /* Dark green */
    --button-background: #ffffff; /* White button background */
    --button-hover: rgba(210, 210, 210, 0.874); /* Light overlay on hover */
}

/* General */
body {
    font-family: "Oxanium", sans-serif; /* Main font */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    background-color: var(--background-color); /* Use CSS variable for background */
    color: var(--text-color); /* Use CSS variable for text color */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

/* Header */
.main-header { /* Main header section */
    background-color: var(--primary-color); /* Use CSS variable for background */
    color: white; /* White text */
    padding: 20px 0; /* Padding around content */
    text-align: center; /* Centered text */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth color changes */
}

.main-header h1 { 
    margin: 0; /* Remove default margins */
    font-size: 2.5em; /* Large heading size */
    transition: color 0.3s ease; /* Add transition for smooth color changes */
}

.main-header p { 
    margin-top: 10px; /* Top margin */
    font-size: 1.2em; /* Larger font size */
    transition: color 0.3s ease; /* Add transition for smooth color changes */
}

/* Navigation */
.main_nav { 
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Vertical stacking */
    align-items: center; /* Centered items horizontally */
    background-color: var(--nav-background-color); /* Use CSS variable for background */
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Faded overlay */
        url("../images/profiles/18820257.jpg"); /* Background image */
    background-position: top; /* Image at the top */
    background-size: cover; /* Image covers background */
    background-attachment: fixed; /* Image fixed to viewport */
    background-repeat: no-repeat; /* Prevent image repetition */
    padding: 10px; /* Padding around navigation */
    font-weight: bold; /* Bold text */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth color changes */
}

.main_nav a { 
    padding: 20px 20px; /* Padding around links */
    margin: 5px; /* Margin between links */
    color: var(--nav-link-color); /* Use CSS variable for link color */
    background-color: var(--nav-link-background-color); /* Use CSS variable for link background */
    border: 5px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    width: 85%; /* 85% width */
    text-align: center; /* Centered text */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
    font-size: Large; /* Large font size */
    display: block; /* Makes the link take up full width */
    text-decoration: none; /* Remove default link underlines */
}

.main_nav p { /* Paragraphs in navigation */
    color: #606060; /* Light gray text */
    font-size: Large; /* Medium font size */
}

.main_nav p1 { /* Specific paragraph in navigation */
    color: #606060; /* Light gray text */
    font-size: large; /* Large font size */
}

.main_nav a:hover { /* hover */
    background-color: var(--nav-link-hover-background-color); /* Use CSS variable for hover background */
    color: var(--nav-link-hover-color); /* Use CSS variable for hover color */
}

.main_nav a:focus { /* focus */
    background-color: var(--nav-link-focus-background-color); /* Use CSS variable for focus background */
}

/* Main footer */
.main-footer { /* Main footer */
    background-color: var(--footer-background-color); /* Use CSS variable for footer background */
    color: white; /* White text */
    padding: 20px; /* Padding around footer */
    text-align: center; /* Centered text */
    transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for smooth color changes */
}

/* Header Button Container */
.main-header .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.main-header .button-container button {
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-header .button-container button:hover {
    background-color: var(--button-hover);
}

/* Dark Mode */
.dark-mode {
    --primary-color: #282c34; /* Darker green */
    --background-color: #222; /* Dark gray background */
    --text-color: #eee; /* Light gray text */
    --link-color: #eee; /* Light gray */
    --link-hover-color: #ddd; /* Lighter gray */
    --nav-background-color: #333; /* Dark gray */
    --nav-link-color: #eee; /* Light gray */
    --nav-link-hover-color: #ddd; /* Lighter gray */
    --nav-link-background-color: #222; /* Dark gray */
    --nav-link-hover-background-color: #333; /* Darker gray */
    --nav-link-focus-background-color: #444; /* Even darker gray */
    --footer-background-color: #282c34; /* Darker green */
    --button-background: #333; /* Dark gray button background */
    --button-hover: #444; /* Darker gray button hover */
    --main-content-background: #222; /* Dark gray background for content */
    --nav-paragraph-color: #eee; /*  Set the color for navigation paragraphs */
}

/* Dark mode for paragraphs */
.main_nav p.dark-mode { 
    color: var(--nav-paragraph-color); 
}
.main_nav p1.dark-mode { 
    color: var(--nav-paragraph-color); 
}


.main-header h1.dark-mode {
    color: #eee; /* Light gray text */
}

.main-header p.dark-mode {
    color: #eee; /* Light gray text */
}
/* Dark mode overrides for paragraphs */
.main_nav p.dark-mode { 
    color: var(--nav-paragraph-color); 
}
.main_nav p1.dark-mode { 
    color: var(--nav-paragraph-color); 
}

.main_nav.dark-mode {
    background-color: #333; /* Dark gray background */
}

.main_nav a.dark-mode {
    color: #eee; /* Light gray text */
    background-color: #222; /* Dark gray background */
}

.main_nav p.dark-mode {
    color: #eee; /* Light gray text */
}

.main-footer.dark-mode {
    background-color: #282c34; /* Darker green background */
}



